<!DOCTYPE html>
<html>
<head>
    <title>Cauchy Integral Formula</title>
    {% include 'header.html' %}
</head>

<body>
    <nav>
        {% include 'navbar.html' %}
    </nav>
    <div class='maincontent'>
        <div id='page-title'>Cauchy's Integral Formula</div>
        <p class='bigger'>
        $$f(z_0)=\frac{1}{2\pi i}\oint_C{\frac {f(z)}{z-z_0}\,dz}.$$
        </p>
        This tells us that a function $f(z)$ can be evaluated at some point inside of a contour $C$ based only on the values $f$ takes on $C$.
    </div>
</body>
</html>