div#navbar {
    background-color: #3C3A3A;
    height: 3em;
}

div#navbar ul {
    margin: 0;
    padding: 0;
}

li.nav-li {
    display: inline-block;
    height: 2.5em;
    padding: .5em 1em 0em 1em;
    text-align: center;
}

li.nav-separator {
    display: inline-block;
    font-size: 150%;
    color: white;
    text-overflow: bold;
}

li.nav-li a, li.nav-li a:visited {
    color: white;
    text-decoration: none;
    list-style: none;
    font-size: 150%;
    padding-top: .5em;
}
li.nav-li:hover {
    background-color: #212020;
    transition: background-color .5s;
}